body {
  background: #E6E6E6;
  color: black;
  font-family: sans-serif;
}

.color{
  background-color: #E6E6E6 !important; 
}

textarea{
  color:white;
}

input{
  color:white;
}


.seccion-negra {
  padding: 150px 0;
  background: #E6E6E6;
}

.titulo-amarillo {
  color: #262262;
  font-weight: bold;
  font-size: 40px;
}



/*INICIO*/

/* CONTENEDOR DE CADA TARJETA */
.card-producto{
  width: 320px;
  margin: auto;
  cursor: pointer;
  transition: 0.4s;
}

/* IMAGEN */
.card-img img{
  width: 100%;
  height: 260px;
  object-fit: contain;
  display: block;
}

/* BLOQUE NEGRO */
.card-info{
  background: #E6E6E6;
  border: 4px solid #262262;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  margin-top: -40px;
}

/* TEXTO */
.card-info h5{
  color: #262262;
  font-size: 28px;
  letter-spacing: 4px;
  margin: 0;
  transition: 0.4s;
}

/* HOVER */
.card-producto:hover .card-info{
  border-color: #dfb439;
}

.card-producto:hover .card-info h5{
  color: #dfb439;
}

/* ACTIVA */
.card-producto.activa .card-info{
  border-color: #dfb439;
}

.card-producto.activa .card-info h5{
  color: #262262;
}

.service{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
    margin: 80px 0;
}

.service-img img{
    width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 10px;
}

/* Alterna solo */
.service:nth-child(even) .service-img{
    order: 2;
}

.service-info h3{
    font-size: 32px;
}

.service-info p{
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.6;
}


/*HERO*/
/* HERO NEGRO */


.hero-wrapper{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:60px;
  flex-wrap:wrap;
}

.hero-section{
  position: relative;
  background: #E6E6E6;
  padding: 80px 0;
}

/* LOGO */
.hero-logo{
  width: 520px;
  max-width: 100%;
}

.hero-logo img{
  width:600px;
  max-width:90%;
  filter: drop-shadow(0 30px 35px rgba(0,0,0,0.7));
}

/* FORM AMARILLO */
.hero-form{
  padding:60px;
  background:#262262;
  max-width: 520px;
  width: 100%;
}


.hero-form h2{
  text-align:center;
  color:#ffffff;
  font-weight:500;
  margin-bottom:50px;
}

.hero-form input,
.hero-form textarea{
  width:100%;
  background:transparent;
  border:none;
  border-bottom:3px solid #ffffff;
  margin-bottom:35px;
  padding:10px;
  font-size:18px;
}

.hero-form textarea{
  height:110px;
  resize:none;
}

.hero-form input:focus,
.hero-form textarea:focus{
  outline: none;
  box-shadow: none;
  border-bottom: 3px solid #ffffff;
  transform: scale(1.02);
  transition: 0.2s;
}


.hero-form button{
  width:100%;
  padding:16px;
  background:#E6E6E6;
  color:#000000;
  border:none;
  font-size:18px;
}

/* HOVER industrial elegante */
.hero-form button:hover{
  background:#8f8686;              /* negro más claro */
  transform: translateY(-3px);     /* se levanta */
  box-shadow: 0 12px 25px rgba(0,0,0,0.45);
}

/* CLICK (efecto presión) */
.hero-form button:active{
  transform: translateY(0);
  box-shadow: 0 6px 12px rgba(0,0,0,0.35);
}


/* PARALLAX — SECCIÓN APARTE */
.hero-parallax{
  height:45vh;
  background-image: url('/img/motores-reductores-motoreductos-riu-el-pollo.webp');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* RESPONSIVE */
@media (max-width: 992px){ 
  .hero-section{
    height:auto;
    padding-bottom:60px;
  }

  .hero-logo,
  .hero-form{
    position:relative; /*aqui*/
    width:90%;
    margin:40px auto;
    top:0;
    left:0;
    right:0;

    transform: none;
  }
}

/* QUIENES */
.quienes-section {
  background: #E6E6E6;
  padding: 100px 0;
}

.quienes-box {
  background: #262262;
  color: white;
  padding: 40px;
  font-size: 18px;
}

/* CONTACTO */
.contacto-section {
  background: #262262;
  color: white;
}




  /*boton whatssap*/
  #botonWhatsApp {
    position: fixed;
    z-index: 1000;
    bottom: 20px;
    right: 15px;
    width: 80px;
}

@media only screen and (max-width: 768px) {
  #botonWhatsApp {
      width: 50px;
      height: 50px;
      margin: 10px;
  }
}


/*SERVICIOS*/

.services-section {
  padding-top:20px;
  background-color: #E6E6E6; 
  text-align: center;
}

.services-content{
  margin: 0 auto; 
}

.services-section h2 {
  font-size: 36px;
  color: #000000;
  margin-bottom: 40px; 
  margin-top: 40px;
}

.service-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.service-item:last-child {
  border-bottom: none; 
}


.service-item img {
  width: 50%; 
  height: 250px; 
  object-fit: cover; 
  margin-left: -20px;
  
}

.service-content {
  width: 50%; 
  text-align: left;
  padding-left: 20px;
}


.service-content h3 {
  font-size: 28px;
  color: #000000;
  margin-bottom: 10px;
}

.service-content p {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

.service-content .contact-btn {
  padding: 10px 20px;
  background-color: #dfb439; 
  color: #FFF;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 25px; 
  font-weight: bold;
}

.service-content .contact-btn:hover {
  background-color: #FFF; 
  color: #dfb439;
}



/* PARALLAX — SECCIÓN APARTE */
.parallax{
  height:45vh;
  background-image: url('/img/reductores_motores_usados_RUI_banner.JPG');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
